<div class="main-wrap">
  <h3 class="header-text">Customer Management</h3>
  <hr>

  <div class="content row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item">Save Item</li>
        <li class="list-group-item">Update Item</li>
        <li class="list-group-item">Delete Item</li>
        <li class="list-group-item">Get Item</li>
        <li class="list-group-item">Get All Item</li>
      </ul>
    </div>
    <div class="col-9">

    </div>
  </div>

</div>
